{% extends 'base.html' %}

{% block content %}

{% include "accounts/status.html" %}

<div class="row" id="test">
    <div class="col-md-5">
        <h5>CUSTOMER ({{total_customers}}) </h5>
        <hr>
        <div class="card card-body">
            <a href="" class="btn btn-primary btn-sm btn-block">Create Customer</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th><i class="bi bi-telephone-fill text-success"></i> Phone</th>
                </tr>
                {% for customer in customers %}
                <tr>
                    <td><a class="btn btn-info btn-sm" href="{% url 'customer' customer.id %}"> View </a></td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.phone}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">
            <a href="{% url 'create_order' %}" class="btn btn-primary btn-sm btn-block">Create Order</a>
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{order.product}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                    <td><a href="{% url 'update_order' order.id %}" class="btn btn-info btn-sm">Update</a></td>
                    <td><a href="{% url 'delete_order' order.id %}" class="btn btn-danger btn-sm">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<br><br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#test">
    Launch
</button>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    Add rows here
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}